{% extends 'base.html.twig' %}

{% block title %}Commande validée{% endblock %}

{% block body %}
<section class="order-success page-container">
    <h1>Commande validée</h1>
    <p>Merci pour votre achat.</p>
    <a href="{{ path('app_home') }}" class="btn-cart">Retour à l’accueil</a>
</section>
{% endblock %}